.header {
  padding: 4rem;
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  gap: 1rem;
}

.list a {
  background-color: var(--color-gray-500);
  color: var(--color-gray-900);
  padding: 1rem 2rem;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1.1rem;
}

.list a:hover,
.list a:active,
.list a.active {
  background-color: var(--color-primary-600);
}
